RewriteEngine On

# ----------- PHP REWRITES -------------

# Reescribe la URL para 'Index.php'
RewriteRule ^Home$ index.php [L]

# Reescribe la URL para 'Header.php'
RewriteRule ^Encabezado$ View/Layout/Header.php [L]

# Reescribe la URL para 'Footer.php'
RewriteRule ^Footer$ View/Layout/Footer.php [L]

# Reescribe la URL para 'PortfolioPage.php'
RewriteRule ^Portafolio$ View/Portfolio.php [L]

# Reescribe la URL para 'Contact.php'
RewriteRule ^Contacto$ View/Contact.php [L]

# Reescribe la URL para 'AboutUs.php'
RewriteRule ^Nosotros$ View/AboutUs.php [L]

# Reescribe la URL para 'Reviews.php'
RewriteRule ^Resenas$ View/Reviews.php [L]

# Reescribe la URL para 'Services.php'
RewriteRule ^Servicios$ View/Services.php [L]

# Reescribe la URL para 'Servicesviejo.php'
RewriteRule ^Servicios2$ View/Servicesviejo.php [L]

# Reescribe la URL para 'Servicesviejo.php'
RewriteRule ^Inicio66$ View/PIndex.php [L]

# Reescribe la URL para 'Servicesviejo.php'
RewriteRule ^Inicio$ index11.php [L]

# ----------- PHP REWRITES -------------


# ----------- CSS REWRITES -------------

# Reescribe la URL para 'Style_Index.css'
RewriteRule ^Estilos_Inicio$ View/Layout/css/Style_Index.css [L]

# Reescribe la URL para 'Style_Footer.css'
RewriteRule ^Estilos_Footer$ View/Layout/css/Style_Footer.css [L]

# Reescribe la URL para 'Style_Portfolio.css'
RewriteRule ^Estilos_Portafolio$ View/Layout/css/Style_Portfolio.css [L]

# Reescribe la URL para 'Style_Header.css'
RewriteRule ^Estilos_Header$ View/Layout/css/Style_Header.css [L]

# Reescribe la URL para 'Style_Contact.css'
RewriteRule ^Estilos_Contacto$ View/Layout/css/Style_Contact.css [L]

# Reescribe la URL para 'Style_AboutUs.css'
RewriteRule ^Estilos_Nosotros$ View/Layout/css/Style_AboutUs.css [L]

# Reescribe la URL para 'Style_BannerEnd.css'
RewriteRule ^Estilos_Banner$ View/Layout/css/Style_BannerEnd.css [L]

# Reescribe la URL para 'Style_Reviews.css'
RewriteRule ^Estilos_Resenas$ View/Layout/css/Style_Reviews.css [L]

# Reescribe la URL para 'Style_Services.css'
RewriteRule ^Estilos_Servicios$ View/Layout/css/Style_Services.css [L]

# Reescribe la URL para 'Style_CursorEffect.css'
RewriteRule ^Estilos_Cursor$ View/Layout/css/Style_CursorEffect.css [L]

# Reescribe la URL para 'Style_CursorEffect.css'
RewriteRule ^Estilos_Ini$ View/Layout/css/Style_Inicio.css [L]

# ----------- CSS REWRITES -------------


# ----------- JS REWRITES --------------

# Reescribe la URL para 'Script_Index.css'
RewriteRule ^Script_Inicio$ View/Layout/js/Script_Index.js [L]

# Reescribe la URL para 'Script_Portfolio.js'
RewriteRule ^Script_Portafolio$ View/Layout/js/Script_Portfolio.js [L]

# Reescribe la URL para 'Script_AboutUs.js'
RewriteRule ^Script_Nosotros$ View/Layout/js/Script_AboutUs.js [L]

# Reescribe la URL para 'Script_BannerEnd.js'
RewriteRule ^Script_Banner$ View/Layout/js/Script_BannerEnd.js [L]

# Reescribe la URL para 'Script_BannerEnd.js'
RewriteRule ^Script_Header$ View/Layout/js/Script_Header.js [L]

# Reescribe la URL para 'Script_Reviews.js'
RewriteRule ^Script_Resenas$ View/Layout/js/Script_Reviews.js [L]

# Reescribe la URL para 'Script_Services.js'
RewriteRule ^Script_Services$ View/Layout/js/Script_Services.js [L]

# Reescribe la URL para 'Script_Contact.js'
RewriteRule ^Script_Contactos$ View/Layout/js/Script_Contact.js [L]

# Reescribe la URL para 'Script_CursorEffect.js'
RewriteRule ^Script_Cursor$ View/Layout/js/Script_CursorEffect.js [L]

# ----------- JS REWRITES -------------


# ----------- IMG REWRITES -------------

# Reescribe 'PImageHome' a 'Home'
RewriteRule ^PImageInicio/(.*)$ View/Img/Home/$1 [L]

# Reescribe 'PImageUsers' a 'Review/Users'
RewriteRule ^PImageUsers/(.*)$ View/Img/Review/Users/$1 [L]

# Reescribe 'PImageProject' a 'Resources'
RewriteRule ^PImageProject/(.*)$ View/Img/Projects/$1 [L]

# Reescribe 'PImageResource' a 'Projects'
RewriteRule ^PImageResource/(.*)$ View/Img/Resources/$1 [L]

# Reescribe 'PImageContact' a 'Contacts'
RewriteRule ^PImageContact/(.*)$ View/Img/Contacts/$1 [L]

# Reescribe 'PImageResenas' a 'Contacts'
RewriteRule ^PImageResenas/(.*)$ View/Img/Review/$1 [L]

# Reescribe 'PImageServicios' a 'Services'
RewriteRule ^PImageServicios/(.*)$ View/Img/Services/$1 [L]

# ----------- IMG REWRITES -------------


# ----------- VIDEO REWRITES -------------

# Reescribe 'PVideoBanner' a 'Resources'
RewriteRule ^PVideoBanner/(.*)$ View/Videos/Banners/$1 [L]

# ----------- VIDEO REWRITES -------------