RewriteEngine On

# ----------- PHP REWRITES -------------

# Reescribe la URL para 'Index.php'
RewriteRule ^Home$ index.php [L]

# Reescribe la URL para 'Header.php'
RewriteRule ^Encabezado$ View/Layout/Header.php [L]

# Reescribe la URL para 'Footer.php'
RewriteRule ^Footer$ View/Layout/Footer.php [L]

# Reescribe la URL para 'PortfolioPage.php'
RewriteRule ^Portafolio$ View/PortfolioPage.php [L]

# Reescribe la URL para 'Contact.php'
RewriteRule ^Contacto$ View/Contact.php [L]

# Reescribe la URL para 'AboutUs.php'
RewriteRule ^Nosotros$ View/AboutUs.php [L]

# ----------- PHP REWRITES -------------


# ----------- CSS REWRITES -------------

# Reescribe la URL para 'Style_Footer.css'
RewriteRule ^Estilos_Footer$ View/Layout/css/Style_Footer.css [L]

# Reescribe la URL para 'Style_Portfolio.css'
RewriteRule ^Estilos_Portafolio$ View/Layout/css/Style_Portfolio.css [L]

# Reescribe la URL para 'Style_Header.css'
RewriteRule ^Estilos_Header$ View/Layout/css/Style_Header.css [L]

# Reescribe la URL para 'Style_Contact.css'
RewriteRule ^Estilos_Contacto$ View/Layout/css/Style_Contact.css [L]

# Reescribe la URL para 'Style_AboutUs.css'
RewriteRule ^Estilos_Nosotros$ View/Layout/css/Style_AboutUs.css [L]

# ----------- CSS REWRITES -------------


# ----------- JS REWRITES --------------

# Reescribe la URL para 'Script_PortfolioPage.js'
RewriteRule ^Script_Portafolio$ View/Layout/js/Script_PortfolioPage.js [L]

# Reescribe la URL para 'Script_AboutUs.js'
RewriteRule ^Script_Nosotros$ View/Layout/js/Script_AboutUs.js [L]

# ----------- JS REWRITES -------------


# ----------- IMG REWRITES -------------

# Reescribe 'PImageProject' a 'Resources'
RewriteRule ^PImageProject/(.*)$ View/Img/Projects/$1 [L]

# Reescribe 'PImageResource' a 'Projects'
RewriteRule ^PImageResource/(.*)$ View/Img/Resources/$1 [L]

# Reescribe 'PImageContact' a 'Contacts'
RewriteRule ^PImageContact/(.*)$ View/Img/Contacts/$1 [L]

# ----------- IMG REWRITES -------------